.customContainer {
  margin: auto;
  width: 40%;
  border: 3px solid #1c2016;
  padding: 50px;
}

.posAbsolute {
  position: absolute;
}
.container{
  background-color: #f5f5f593;

}
.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    line-height: 1.5;
    color: black;
    font-weight: bold;
}
.app {
  background-image: url('https://c0.wallpaperflare.com/preview/278/663/591/posting-post-computer-icon.jpg');
  padding: 100px;
} 
#middlebox{
  margin: auto;
  width: 40%;
  border: 3px solid #1c2016;
  padding: 50px;
  background-color: #f5f5f593;
}
#login{
  background-image: url('https://c0.wallpaperflare.com/preview/278/663/591/posting-post-computer-icon.jpg');
  padding: 100px;
}