body {
    background-image: url("https://c0.wallpaperflare.com/preview/179/449/151/technology-networking-abstract-business.jpg");
    font-family: 'Raleway', sans-serif;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #9a73e2;
}
h3 {
    color: #7bdf79
}
.mainHeading {
    font-weight: bold;
    color: black;
}
.GroceryListing {
    padding: 0;
    list-style-type: none;
}   
.GroceryListing li {
    margin-bottom: 20px;
}
.GroceryListing .text-center {
    background-color: #532b9f;
    color: #fff;
    padding: 30px 0;
    border-radius: 10px;
    height: 450px;
}
.GroceryListing .img-responsive {
    margin: 0 auto;
}
.GroceryListing p {
    width: 320px;
    margin: 0 auto;
    color: #ffd700;
}
.GroceryListing .discountLabel {
    color: #fff;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}
.redBtn {
    margin: 10px auto;
    padding: 10px 35px;
    margin-top: 20px;
    text-transform: uppercase;
    background: #dd216b;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
}
.redBtn:hover {
    color: #fff;
    border: 1px solid #fff;
}

.image-wrapper {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    padding-bottom: 5px;
}
#loginbutton{
    position: absolute;
    top: 23px;
    right: 10px;
    left: 1210px;
    width: 120px;
    transform: translateY(-50%);
    background-color: blueviolet;
    font-family: monospace;
}
#Createbutton{
    position: absolute;
    top: 25px;
    right: 10px;
    left: 1303px;
    width: 120px;
    transform: translateY(-50%);
    color: rgb(224 193 253);
}




.image-wrapper .img-responsive {
    
    height: 170px;
    width: 150px;
    object-fit: contain;
}

.userCart {
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    background-color: #095c91;; 
}
.userCart .list-group {
    margin-bottom: 0;
}
.userCart h3 {
    margin: 0;
}
.userCart .name {
    width: 70%;
}
.userCart .price {
    width: 15%;
}
.userCart .action {
    width: 15%;
}
.userCart .list-group-item span {
    margin-top: 12px;
}
.totalPriceWrap {
    padding: 40px 20px 20px 20px;
    color: #fff;
    position: relative;
}
.totalPriceWrap span {
    margin-top: 6px;
}
.totalPriceWrap .couponInput {
    background-color: #095c91;
    padding: 4px;
    margin-right: 20px;
    border: 1px solid;
}
.totalPriceWrap .couponInput::placeholder {
    color: #fff;
}
.totalPriceWrap .couponInput[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.1s 0.1s ease; 
  opacity: 0;
}
.totalPriceWrap .couponMessage {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.totalPriceWrap .couponWrap {
    position: relative;
}
.floatingLabel {
    position: absolute;
    top: -30px;
    left: 5px;
}
totalPriceWrap .redBtn {
    margin-top: 30px;
}
.successPopupWrap{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    background: rgba(0,0,0,0.97);
    z-index: 999;
}
.successPopupWrap .content {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 300;
	display: block;
	color: white;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
#footerHeader1{
    background-color: #9a73e2;
    font-family: math;
}
#footer1{
    background-color: rgb(255, 255, 255);
}